<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="row">
      <div class="four columns mt3 mt0-l" id="get-help">
        <h4>More info</h4>
        <ul>
          <li><a href="https://github.com/theseus-os/Theseus/">Theseus OS on GitHub</a></li>
          <li><a href="https://github.com/theseus-os/">Theseus OS Organization</a></li>
          <li><a href="mailto:theseus.systems@gmail.com">Contact Us</a></li>
        </ul>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Terms and policies</h4>
        <ul>
          <li><a href="https://www.rust-lang.org/policies/code-of-conduct">Rust's Code of Conduct</a></li>
          <li>Licenses:  <a href="https://opensource.org/licenses/MIT">MIT</a>  <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a></li>
          <li><a href="https://github.com/rust-lang/blog.rust-lang.org">Format based on Rust's Blog</a></li>
        </ul>
      </div>
      <div class="four columns mt3 mt0-l">
        <h4>Social</h4>
        <div class="flex flex-row flex-wrap">
          <a href="https://twitter.com/rustlang" target="_blank" rel="noopener" alt="twitter link"><img src="/images/twitter.svg" alt="twitter logo" title="Twitter"/></a>
          <a href="https://www.youtube.com/c/KevinBoosPhD" target="_blank" rel="noopener" alt="youtube link"><img style="padding-top: 6px; padding-bottom:6px" src="/images/youtube.svg" alt="youtube logo" title="YouTube"/></a>
          <a href="https://discord.gg/rust-lang" target="_blank" rel="noopener" alt="discord link"><img src="/images/discord.svg" alt="discord logo" title="Discord"/></a>
          <a href="https://github.com/theseus-os" target="_blank" rel="noopener" alt="github link"><img src="/images/github.svg" alt="github logo" title="GitHub"/></a>
        </div>
        <h4 class="mt4 mb3">RSS</h4>
        <ul>
          <li><a href="/feed.xml">Theseus Blog RSS Feed</a></li>
        </ul>
      </div>

    </div>
    <div class="attribution">
      Maintained by the Theseus OS organization. See a typo?
      <a href="https://github.com/theseus-os/blog" target="_blank" rel="noopener">File an issue here</a>!
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="/scripts/highlight.js"></script>
