<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/{{blog.prefix}}">
      <img class="v-mid ml0-l" alt="Theseus OS Logo" src="/images/theseus_ship.jpg">
      <span style="font-weight: 100;" class="dib ml1 ml0-l">{{blog.title}}</span>
    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s">
      <span style="white-space: nowrap;">
        <a href="https://github.com/theseus-os/Theseus" target="_blank" rel="noopener">Theseus&nbsp;OS<i style="padding-left: 0.33em;" id="github-icon" class="fa fa-github" aria-hidden="true"></i></a>
      </span>
    </li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s">
      <span style="white-space: nowrap;">
        <a href="https://theseus-os.github.io/Theseus/book/index.html">Book<i style="padding-left: 0.33em;" id="book-icon" class="fa fa-book" aria-hidden="true"></i></a>
      </span>
    </li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s">
      <span style="white-space: nowrap;">
        <a href="https://theseus-os.github.io/Theseus/doc/___Theseus_Crates___/index.html">Docs<i style="padding-left: 0.33em;" id="docs-icon" class="fa fa-cubes" aria-hidden="true"></i></a>
      </span>
    </li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s">
      <span style="white-space: nowrap;">
        <a href="https://github.com/sponsors/kevinaboos">Sponsor&nbsp;Us<i style="padding-left: 0.33em;" id="sponsor-icon" class="fa fa-heart-o" aria-hidden="true"></i>
      </span>
    </li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s">
      <span style="white-space: nowrap;">
        <a href="mailto:theseus.systems@gmail.com?subject=Interested in Theseus OS!">Email<i style="padding-left: 0.33em;" id="email" class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </span>    
    </li>
  </ul>
</nav>
